{% extends 'base.html' %}
{% load static %}
{% block title %} EDUCATION {% endblock %}
{% block content %}
<section class="services" id="edu">
    <div class="max-width">
        <h2 class="title">My Education</h2>
        <div class="serv-content">
            <div class="card">
                <div class="box">
                    <i class="fas fa-paint-brush"></i>
                    <div class="text">CHITKARA UNIVERSITY</div>
                    <p>BTECH IN COMPUTER SCIENCE
                    2021-2025 | 9.67 | RAJPURA, PUNJAB</p>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <i class="fas fa-chart-line"></i>
                    <div class="text">MANU VATIKA SCHOOL</div>
                    <p>SENIOR SECONDARY
                        2021 | 95% | BUDHLADHA , PUNJAB</p>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <i class="fas fa-code"></i>
                    <div class="text">D.A.V PUBLIC SCHOOL</div>
                    <p>HIGHER SECONDARY
                        2019 | 91% | MANSA, PUNJAB</p>
                </div>
            </div>
           </div>
        </div>
    </div>
</section>

{% endblock content %}

