{% extends 'base.html' %}
{% load static %}
{% block title %} PROJECTS {% endblock %}
{% block content %}
 <!-- pro section start -->
 <section class="teams" id="projects">
    <div class="max-width">
        <h2 class="title">My Recent Projects</h2>
        <div class="carousel owl-carousel owl-loaded owl-drag">
            
            <div class="card">
                <div class="box">
                    
                    <div class="text">Note-The-Notices Website</div>
                    <p>~This website is made using Django Framework (Frontend and backend) Including Database. It can
                        be used in schools or in offices to update the daily notices. It consists a Super User and all the
                        logged in users can signup and login(creating their account) view/delete/update the notices.
                        Newly Notices will be updated on top..</p>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <!-- <img src="images/profile-4.jpeg" alt=""> -->
                    <div class="text">My Portfolio</div>
                    <p>My portfolio is a compilation of academic and professional materials that exemplifies my
                        beliefs, skills, qualifications, education and certifications. I made it using Programming
                        Languages like HTML,CSS, PYTHON and DJANGO.</p>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    
                    <div class="text">CRUD Operation Database.</div>
                    <p>This Web Application consists of CRUD Operations which a person can use to store his data
                        and will be able to delete and edit his data. Language Used: HTML, Bootstrap, Django
                        Framework.</p>
                </div>
            </div>
            
            <!-- <div class="card">
                <div class="box">
                    <img src="images/profile-5.jpeg" alt="">
                    <div class="text">Someone name</div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div> -->
        </div>
    </div>
</section>
{% endblock content %}
