{% extends 'base.html' %}
{% load static %}
{% block title %} PROJECTS {% endblock %}
{% block content %}
 <!-- pro section start -->
 <section class="teams" id="projects">
    <div class="max-width">
        <h2 class="title">My Recent Projects</h2>
        <div class="carousel owl-carousel owl-loaded owl-drag">
            <div class="card">
                <div class="box">
                    
                    <div class="text">FaceBook Clone</div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    
                    <div class="text">E-Commerce Website</div>
                    <p>~ Developed a user-friendly web app using HTML, CSS and
                        JavaScript for a seamless and efficient shopping, reducing time
                        and effort as of window-shopping.</p>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <!-- <img src="images/profile-4.jpeg" alt=""> -->
                    <div class="text">Portfolio Website</div>
                    <p>Made my Portfolio using Html, Css and Javascript and also Python and Django</p>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    
                    <div class="text">Mini Blog Project</div>
                    <p>Made a backend project where users can post blogs and the person can login to their accounts and read those blogs.</p>
                </div>
            </div>
            
            <!-- <div class="card">
                <div class="box">
                    <img src="images/profile-5.jpeg" alt="">
                    <div class="text">Someone name</div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div> -->
        </div>
    </div>
</section>
{% endblock content %}
