{% extends 'base.html' %}
{% load static %}
{% block title %} MY RESUME {% endblock %}
{% block content %}
<section class="about" id="about">
    <div class="max-width">
        <h2 class="title">My Resume</h2>
        <div class="about-content">
            <div class="column left">
                <img src='{% static 'main/images/resume.png' %}'style="height:435px; margin-bottom:1.5rem;" alt="">
            </div>
            <div class="column right">
                <div class="text">I'm Palak and I'm a <span class="typing"></span></div>
                <p>Currently pursuing B.Tech in third year at Chitkara University and having my studies in Computer Science Engineering, I have deep interest in coding. I have the knowledge of programming in C, C++, Core Java and python. My Other Interests includes Dancing and Travelling.</p>
            </div>
        </div>
    </div>
</section>
{% endblock content %}