{% extends 'base.html' %}
{% load static %}
{% block title %} SKILLS {% endblock %}
{% block content %}
 <!-- skills section start -->
 <section class="skills" id="skills">
    <div class="max-width">
        <h2 class="title">My skills</h2>
       
        <div class="skills-content">
            <div class="column left">
                <div class="text">My creative skills and experiences.</div>
                <p><p><b><br>Languages Known </b>:<br> C,C++,Python,SQL,Html,CSS,Javascript,Core Java<br><br><b>Other Interests:</b> <br>Data Structures,Operating Systems, Database Management System  <br><br><b>Certifications: </b><br>Certified by Cisco for the course "Cyber Security" and by Coding Ninjas for "Python". Certified for clearing the assessments by hackerrank that include: <br> <ul> <li>Problem Solving (Basic)<li>C++ (basic)</li></ul><br><b>Other Skills: </b><br> I have well management skills too. I like managing the events and performed in many events that were held in our college including dance and other Participations. I co-ordinated a event of National 
                Earth Day.</p></p>
               
            </div>
            <div class="column right">
                <div class="bars">
                    <div class="info">
                        <span>HTML</span>
                        <span>95%</span>
                    </div>
                    <div class="line html"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>CSS</span>
                        <span>90%</span>
                    </div>
                    <div class="line html"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>JavaScript</span>
                        <span>80%</span>
                    </div>
                    <div class="line js"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>Python</span>
                        <span>80%</span>
                    </div>
                    <div class="line js"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>C/C++</span>
                        <span>70%</span>
                    </div>
                    <div class="line mysql"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>MySQL</span>
                        <span>70%</span>
                    </div>
                    <div class="line mysql"></div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
